<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <Nav style="display: flex;">
            <div class="nav1">
                <h1>Busqueda de empleos</h1>
            </div>
            <div class="nav2">
                <ul>
                    <li><a href="vista1.html">Logout</a></li>
                    <li><a href="vista2.html">Home</a></li>
                    <li><a href="vista3.html">Post</a></li>
                </ul>
            </div>
        </Nav><hr>
    </header>
    <center>
        <section class="Busquedas">
            <div class="filtro">
                <input value="Puestos de interes"/>
            </div>
            <div class="buscar">
                <button>Buscar</button>
            </div>
            <div>
                <button class="post">Postear Trabajo</button>
            </div>
        </section>
    </center>  

        <section class="post-fast">
            <div>
                Puestos que te pueden interesar.
            </div> <hr>
            <div class="post-fast-campos">
                <p>Ubicacion</p>
                <p class="campos">Posicion</p>
                <p class="campos">Compañia</p>
            </div>
        </section>

        <section class="post-search">
            <div>
                Aqui va la categoria buscada
            </div> <hr>
            <div class="post-fast-campos">
                <p>Ubicacion</p>
                <p class="campos">Posicion</p>
                <p class="campos">Compañia</p>
            </div>
            <div class="result-search">

            </div>
        </section>
    
        <footer>
            <ul class="footer-left">
                <li><a href="">Publicidad</a></li>
                <li><a href="">Negocios</a></li>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">Como funciona la busqueda</a></li>
            </ul>
            <ul class="footer-right">
                <li><a href="">Privacidad</a></li>
                <li><a href="">Condiciones</a></li>
                <li><a href="">Ajustes</a></li>
            </ul>
        </footer>

</body>
</html>