<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <Nav style="display: flex;">
            <div class="nav1">
                <h1>Busqueda de empleos</h1>
            </div>
            <div class="nav2">
                <ul>
                    <li><a href="vista1.html">Login</a></li>
                    <li><a href="vista2.html">Home</a></li>
                    <li><a href="vista3.html">Post</a></li>
                </ul>
            </div>
        </Nav><hr>
    </header>
    <center>

    </center>
    <div class="image-fondo2 cabeza">
        <form class="form__container3"> 
            <section class="postulaciones">
                <p><strong> Publicar trabajo</strong></p>
                <label>
                    Categoria <select style="width: 200px; color:black; margin-left: 34px;">
                        <option selected> Administrativo</option>
                        <option>Arte y diseño</option>
                        <option>Educación</option>
                        <option>Tecnologías de la Información</option>
                        <option>Atención a clientes</option>
                        <option>Manufactura</option>
                    </select>
                </label> <br>
                <label>Compañia <input type="text" style="margin-top:4px; margin-left: 31px;"></label> <br>
                <label>Url <input type="text" style="margin-top:4px; margin-left: 82px;"></label> <br>
                <label>Posicion <input type="text" style="margin-top:4px; margin-left: 45px;"></label> <br>
                <label>Ubicacion <input type="text" style="margin-top:4px; margin-left: 33px;"></label> <br>
                <label>Descripcion <input type="text" style=" margin-top:4px; margin-left: 20px; height:40px;"></label> <br> <br>
                <button>Postear</button>
            </section>
        </form>

    </div>


        <footer style="position: absolute;">
            <ul class="footer-left">
                <li><a href="">Publicidad</a></li>
                <li><a href="">Negocios</a></li>
                <li><a href="">Abaout</a></li>
                <li><a href="">Como funciona la busqueda</a></li>
            </ul>
            <ul class="footer-right">
                <li><a href="">Privacidad</a></li>
                <li><a href="">Condiciones</a></li>
                <li><a href="">Ajustes</a></li>
            </ul>
        </footer>
</body>
</html>