<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <Nav style="display: flex;">
            <div class="nav1">
                <h1>Busqueda de empleos</h1>
            </div>
            <div class="nav2">
                <ul>
                    <li><a href="vista1.html">Login</a></li>
                    <li><a href="vista2.html">Home</a></li>
                    <li><a href="vista3.html">Post</a></li>
                </ul>
            </div>
        </Nav><hr>
    </header>
    <center>
        <section class="Busquedas">
            <div class="filtro">
                <input value="Puestos de interes"/>
            </div>
            <div class="buscar">
                <button>Search</button>
            </div>
            <div>
                <button class="post">Postear Job</button>
            </div>
        </section>
    </center>  

    <section class="postulaciones">
        <p><strong> Post a Job</strong></p>
        <label> Categoria <select style="width: 200px; color:black; margin-left: 32px;">
            <option selected> Entorno de desarrollo</option>
            <option >Frontend</option>
            <option >Backend</option>
        </select></label> <br>
        <label >Company <input  type="text" style="margin-top:4px; margin-left: 32px;"></label> <br>
        <label >Url <input type="text" style="margin-top:4px; margin-left: 80px;"></label> <br>
        <label >Position <input type="text" style="margin-top:4px; margin-left: 44px;"></label> <br>
        <label >Location <input type="text" style="margin-top:4px; margin-left: 40px;"></label> <br>
        <label >Description <input type="text" style=" margin-top:4px; margin-left: 20px; height:40px;"></label> <br> <br>
        <button>Postear</button>
    </section>





    <footer  style="position: absolute;">
        <ul class="footer-left">
            <li><a href="">Publicidad</a></li>
            <li><a href="">Negocios</a></li>
            <li><a href="">Abaout</a></li>
            <li><a href="">Como funciona la busqueda</a></li>
        </ul>
        <ul class="footer-right">
            <li><a href="">Privacidad</a></li>
            <li><a href="">Condiciones</a></li>
            <li><a href="">Ajustes</a></li>
        </ul>
    </footer>
</body>
</html>